<div class="container">
    <div *ngIf="players < NUM_PLAYER">
        <h3>Hey, {{players}} player(s) in the game... We need 3 players ^.^</h3>
        <h3 class="subtitle is-6">You can invite them with this link: ?id={{ gameId }}.
        </h3>
    </div>
    <!-- <div *ngIf="players == NUM_PLAYER"> -->
    <div>
        <h5>Welcome, Player {{playerId}}!</h5>
        <h5>You're the storyteller!</h5>
        <h5>Your score is: {{game?.playerAsset[playerId].score}}</h5>

    </div>
    <div class="p-grid nested-grid">
        <div class="p-grid" *ngIf="players < NUM_PLAYER">
            <h3>Hi, {{players}} player(s) in the game... We need 3 players ^.^</h3>
        </div>
        <div class="p-grid">
            <div class="p-col-8">
                <h3 *ngIf="playerId == game?.storyTeller">Welcome Player{{playerId}}, You're the storyteller!</h3>
                <h3 *ngIf="playerId != game?.storyTeller">Welcome Player{{playerId}}, Wait for a story!</h3>
            </div>
            <div class="p-col-4">
                <h3>Your score: {{game?.playerAsset[playerId].score}}</h3>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-2">
                <div class="box">6</div>
            </div>
            <div class="p-col-2">
                <div class="box">6</div>
            </div>
            <div class="p-col-2">
                <div class="box">12</div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-2" *ngFor="let card of game?.playerAsset[playerId].poolCards"
                (click)="chooseActiveCards(card)">
                <img class="box" src="/api/image/{{card}}" alt="{{card}}">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form *ngIf="!game?.story" [formGroup]="myForm" (ngSubmit)="submitStory()">
        <input type="text" name="story" placeholder="Tell a story.." [formControl]="story">
        <button [disabled]="playerId != game?.storyTeller" type="submit">Send story</button>
    </form>
    <p>{{story?.value}}</p>
</div>

<div class="container">
    <table border="1">
        <tr>
            <td colspan="5">Guess the card by clicking on it</td>
            <td><button [disabled]="this.activeCards.length < NUM_PLAYER"
                    (click)="shuffleCard(this.activeCards)">Shuffle card</button></td>
        </tr>
        <tr *ngIf="!game?.playerAsset[playerId].guessCard">
            <!-- <td *ngFor="let card of activeCards" style="width: 10%;" (click)="chooseGuessCard(card)">
                    {{card}}
                </td> -->
            <td *ngFor="let card of activeCards" style="width: 10%;" (click)="chooseGuessCard(card)">
                <img src="/api/image/{{card}}" alt="{{card}}">
            </td>
        </tr>
        <tr *ngIf="!!game?.playerAsset[playerId].guessCard">
            <td>{{game.playerAsset[playerId].guessCard}}</td>
        </tr>
        <br>
        <hr>
        <br>
        <tr>
            <td *ngFor="let card of game?.playerAsset[playerId].poolCards" style="width: 10%;"
                (click)="chooseActiveCards(card)">
                {{card}}
            </td>
        </tr>
    </table>
</div>