<p-dataView [value]="groups">
    <p-header> <button class="ui-button-rounded" pButton (click)="goToCreateGroup()" type="button"
            label="Create Group"></button>
    </p-header>
    <ng-template let-group pTemplate="listItem">
        <div class="ui-g-12 ng-star-inserted" style="float: left; box-sizing: border-box; padding: 0.5em">
            <div class="group-details">
                <div style="display: flex;align-items: center;">
                    <img src="{{api_url}}/api/group-profile?groupName={{group.group_name}}" style="width:100px;"
                        class="ui-g-4">
                    <div class="ui-g">
                        <div class="ui-g-12">Group Name: <b>{{group.group_name}}</b></div>
                        <div></div>
                        <div></div>
                        <!-- <div class="ui-g-12">Top score: <b>Top score</b></div>
                        <div class="ui-g-12">Number of players: <b>No of members</b></div> -->
                    </div>
                </div>

                <button pButton type="button" icon="pi pi-users" (click)="goToGroupRoom(group)"></button>
            </div>
        </div>
    </ng-template>
</p-dataView>