<form [formGroup]="payForm" (ngSubmit)="payment()">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Payment for.." formControlName="name">
            </div>
        </div>

        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Decription" formControlName="description">
            </div>
        </div>

        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Amount in SGD" formControlName="amount">
            </div>
        </div>

        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Quantity" formControlName="quantity">
            </div>
        </div>
        <div class="ui-g-12 ui-md-12"></div>
        <div class="ui-g-12 ui-md-12"></div>
        <button class="ui-g-12 ui-md-4" pButton type="submit" [disabled]=payForm.invalid label="Make payment" class="ui-button-rounded"></button>
    </div>
</form>